body    {
    background-color: #F1EDEE;
}
#center-button     {
    text-align: center;
}

#center-element     {
    position: absolute;
    top: 40%;
    left: 25%;
    margin-top: -50px;
    margin-left: -25px;
    width: 50%;
    background-color: #FBFAF5;
}
